
<header>
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-light p-4 d-flex align-items-center justify-content-center flex-column">
              <a href="/cadastrar" class="text-black h1 d-md-none text-decoration-none p-2">Cadastre um filme</a>

              <form class="d-flex p-2" role="search">
                <input class="form-control me-2" type="search" placeholder="Procure um filme" aria-label="Search">
                <button class="btn btn-outline-secondary" type="submit">Procurar</button>
              </form>

              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="darkSwitch">
                <label class="form-check-label" for="darkSwitch">Dark Mode</label>
              </div>
            </div>
          </div>

        <nav class="navbar navbar-light bg-light p-3">
            <div class="container-fluid">
                <div class="logo d-flex align-items-center">
                    <a href="/"><img src="/images/film.svg" id="logo" alt="logo"></a>
                    <a href="/" class="d-none d-xxl-inline h1 text-decoration-none text-black m-0 text-logo">My Favorites Movies</a>
                </div>
                <button class="navbar-toggler order-4 d-xxl-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="d-none p-4 d-md-flex align-items-center justify-content-between flex-column flex-md-row p-md-2 p-xxl-3 gap-xxl-5">
                    <a href="/cadastrar" class="link-md link-xxl m-0 text-black h1 text-decoration-none p-2 order-2">Cadastre um filme</a>
  
                    <form class="d-none d-xxl-flex p-2 order-0" role="search">
                        <input class="form-control me-2" type="search" placeholder="Procure um filme" aria-label="Search">
                        <button class="btn btn-outline-secondary" type="submit">Procurar</button>
                    </form>
  
                    <div class="d-none form-check form-switch d-xxl-flex order-4">
                        <input class="form-check-input" type="checkbox" role="switch" id="darkSwitchXXL">
                        <label class="form-check-label" for="darkSwitchXXL">Dark Mode</label>
                    </div>
            </div>
        </nav>
          
</header>