@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300;400;500;700;800&display=swap');

*{
    font-family: "Solway";
}

body{
    background-color: #f8f9fa;
}

.dark-mode{
    color: #fff;
    background-color: #212529;
}

.dark-mode .card:hover{
    transition: all 0.4s ease-in-out;
    box-shadow: 1px 4px 15px rgba(241, 239, 239, 0.795);
    border: 1px solid #F5F5F5;
    border-radius: 10px;
    background-color: #fff;
}

.navbar{
    border-bottom: 1px solid black;
}

.card{
    width: 65%;
    cursor: pointer;
}

.card-md{
    display: none;
}

footer{
    border-top: 1px solid black;
}

.card:hover{
    transition: all 0.4s ease-in-out;
    box-shadow: 1px 4px 15px rgba(38, 38, 38, 1);
    border: 1px solid #F5F5F5;
    border-radius: 10px;
    background-color: #fff;
}


@media(min-width:768px){
    
    .card-img-md{
        height: 100%;
    }

    .card{
        width: 90%;
    }

}

@media(min-width:1400px){
    .logo img{
        width: 50px;
        height: 50px;
    }

    .link-xxl{
        font-size: 1.5rem;
        font-weight: 300;
    }

    .link-xxl:hover{
        font-weight: 500;
    }



}